

body{
margin: 0px;
font-family: sans-serif;
}



#img_top{
	width: 100%;
	float: right;	
/* 	le ratio retenu pour les images en haut de pages est de 3,48 */
}


/* Personnalisation du menu de navigation */

#menu li{
	display: inline;
	padding: 1%;
	align-content: center;
	
}
#img_home{
	width: 40px;
	padding-top: 10px;

}
.onit{
	color:#a95858;
/* 	intégré grace à un span, il permet de savoir sur quelle page nous nous trouvons lors de la navigation sur le site */
}
ul#menu {
	list-style-type: none;
	background-color: rgba(9, 21, 116, 0.95);
	line-height: 50px;
	margin-top:0px;
	
}
#menu li a{
	font-size: 30px;
	color: #f0e7e7;
	font-family: sans-serif;
	font-variant: small-caps;
	text-decoration: none;	
}
#menu li a:hover{/* change la couleur du texte lorsque l'on survole avec la souris*/
	color: #a95858;	
}

#connect{
	float: right;
	margin-right: 2%;
	
}

/* fin personnalisation menu navigation */

/* Style du footer */

#footer_conteneur{
	display: flex;
	justify-content: space-between;
	background-color: #0b6411;
}
.content{
	padding: 5%;
	color:white;
	
}

#sociallogo{
	width: 40px;
	margin: 3px;
}
#mail{
	color: white;
	text-decoration: none;
	}
	
	
/* 	Style du formulaire */

/* on commence par faire un style commun à tous les formulaires grâce à la class form*/
.form{
	
	padding-left: 5%;
	padding-right:5%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color:#dbd8d8;
	border-color: #5c5b5b;
	border-radius: 22px;
	
}
#textfield{
	
	float: right; 
}
#title_form{
	margin:2% 20% 2% 18%;	
}

/* 	puis on vas spécifié les changements en fonctions des tableaux visés grâce à des identifiants */
#info_client{
	margin-top: 10%;
	margin-left:30%;
	margin-bottom: 10%;	
	width: 30%;
}

#billet{
	margin-top: 10%;
	margin-left:10%;
	margin-bottom: 10%;	
	width:20%;
	
}



/* mise en forme du tableau des tarifs */
#tab_tarif {
	float : left;
	background-color: #FFFFFF;
	color: #f3ebeb;
	text-align: center;
	border-color: #1a1818;
	border-collapse: collapse;
	font-size: 30px; 
	width:30%;
	padding: 20px 0px;
	margin-top:10%;
	margin-right: 20%;
	float: right;
}

#tab_tarif tr{	
	background-color:#ae2929;	
	border-color: #140404
}

#tab_tarif tr:first-child{
	background-color:#979494;
}

#tab_tarif td {
	padding: 40px 20px 40px 20px;	
}


